/* Reset de estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(145deg, #6e7fdd, #475f77);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
}

/* Barra de navegação no topo */
.navbar {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.navbar-logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar-buttons button {
    background-color: #475f77;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.navbar-buttons button:hover {
    background-color: #3a4f91;
}

/* Estilo da calculadora */
.calculator {
    background-color: rgba(16, 209, 235, 0.9);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 80px; /* Espaço para a barra fixa */
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: #3a4f91;
    margin-bottom: 20px;
}

/* Estilos gerais para campos e botões */
label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input, button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    outline: none;
    transition: all 0.3s ease;
}

input:focus, button:focus {
    border-color: #475f77;
    box-shadow: 0 0 10px rgba(71, 95, 119, 0.4);
}

/* Botão de ação para o Simular Investimento */
.action-button {
    background-color: #28a745; /* Cor de destaque (verde) */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

.action-button:hover {
    background-color: #218838; /* Cor mais escura ao passar o mouse */
}

/* Estilo para as listas de despesas e receitas */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #97d409;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #960606;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 600px) {
    .calculator {
        padding: 20px;
        width: 90%;
    }

    .navbar {
        padding: 10px;
    }
}